body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .onboarding-container {
    text-align: center;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
  }
  
h1{
    font-size: 2.5em;
    color: #1DB954;
    margin-bottom: 0.5em;
  } */
  
  h2 {
    font-size: 1.8em;
    color: #1DB954;
    margin-bottom: 1em;
  }
  
   .spotify-button {
    background-color: #1DB954;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
  } 
  
  .spotify-button:hover {
    background-color: #1ed760;
  }
  
  .hidden {
    display: none;
  }
  

  
  .question-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
 
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #404040;
    background-color: #121212;
    color: #fff;
    margin: 10px 0;
  }
  
  